button.linkBtn.linkBtn {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 5px;
	background: #183153;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

button.linkBtn:after {
	content: ' ';
	width: 0%;
	height: 100%;
	background: #f4f4f4;
	position: absolute;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	right: 0;
}

button.linkBtn:hover::after {
	right: auto;
	left: 0;
	width: 100%;
}

button.linkBtn span {
	text-align: center;
	position: relative;
	bottom: -2px;
	text-decoration: none;
	width: 100%;
	padding: 10px 18px;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 0.3em;
	z-index: 20;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

button.linkBtn:hover span {
	color: #183153;
	-webkit-animation: scaleUp 0.3s ease-in-out;
	animation: scaleUp 0.3s ease-in-out;
}

@-webkit-keyframes scaleUp {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scaleUp {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
