@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
font-family: 'Josefin Sans', sans-serif;
scroll-behavior: smooth;
}
.myImg{
   animation: myImg 4s ease-out 0s infinite alternate both;
}
@keyframes myImg {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(6px, -6px);
		-webkit-transform: translate(6px, -6px);
		-moz-transform: translate(6px, -6px);
		-ms-transform: translate(6px, -6px);
		-o-transform: translate(6px, -6px);
}

	40% {
		transform: translate(6px, 6px);
	}

	60% {
		transform: translate(-6px, 6px);
	}

	80% {
		transform: translate(-6px, -6px);
	}

	100% {
		transform: translate(0);
	}
}


.button-send {
 --color: #00A97F;
 padding: 0.8em 1.7em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 -webkit-transition: .5s;
 transition: .5s;
 font-weight: 400;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.button-send::before, .button-send::after {
 content: '';
 display: block;
 width: 200px;
 height: 200px;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 -webkit-transition: 500ms ease;
 transition: 500ms ease;
 -moz-transition: 500ms ease;
 -ms-transition: 500ms ease;
 -o-transition: 500ms ease;
}

.button-send::before {
 top: -2em;
 left: -1em;
}

.button-send::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button-send:hover::before, .button-send:hover::after {
 height: 810px;
 width: 810px;
}

.button-send:hover {
 color: rgb(255, 255, 255);
}

.button-send:active {
 -webkit-filter: brightness(.8);
         filter: brightness(.8);
}
